<main class="home">
    <h1>Scan producten om te kijken hoeveel calorieen erin zitten!</h1>
    <section>
        <a href="/scanner">Scan barcode</a>
        <a href="/search">Zoek product</a>
    </section>
</main>