{{>noheader}}
<main class="home">
    <h1>Zoek producten om de voedingswaarden te bekijken!</h1>
    <section>
        <a href="/scanner">Scan barcode</a>
        <a href="/search">Zoek product</a>
    </section>
</main>