{{>header}}
<main class="scanner">
    <section id="scanner">
        <video id="video" autoplay></video>
        <div></div>
        <a href="/">Stop</a>
    </section>

    <h1>Zet je camera aan en herlaad de pagina of typ de barcode</h1>
    <form action="/zoek-barcode" method="GET">
        <input type="search" inputmode="numeric" placeholder="Voer barcode nummer in" minlength="12" maxlength="13" name="barcode" required/>
        <input type="submit" value="Zoek"/>
    </form>
</main>